*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    max-width: 360px;
}
.wrapper{
    background: black;
    margin: 15px;
    padding: 10px;
    height: 570px;
    border-radius: 25px;
    background-image: url(Bg.jpeg);
    background-position: center;
    background-size: cover;
}
h1{
    text-align: center;
    padding-top: px;
    font-family: monospace;
    font-weight: brexder my nam eis nanshal emmanuel i hail fron plateau state in langtang north LCDA;
    font-size: 40px;

    color: chocolate;
}
.bottom{
    text-align: center;
    margin-top: 320px;
}
p{
    font-size: 45px;
    font-weight: 900;
    padding-bottom: 35px;
    font-family: monospace;
    color: white;
}
audio::-webkit-media-controls-panel{
    background: chocolate;
}